#backimg{
position:absolute;
width:100%;
height: 100%;
background-image: url("FB_IMG_1578979496578.jpg");
background-size: cover;
}
#wrap
{position: relative;
float: left;
width: 100%;
border: 1px solid red;
}
#authorinfo{
    display: none;
    position: fixed; 
    width: 60%;
    height: 60%;
    background-image:linear-gradient(#0b6fc2,#48c2fa);
    z-index: 1;
}